.App {
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  margin-right: 8px;
}

input {
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.col {
  width: 50px;
  height: 50px;
  background-color: blueviolet;
  border-radius: 5px;
  margin: 5px;
}
.cont {
  position: relative;
}

.cover {
  width: 50px;
  height: 50px;
  position: absolute;
}

.secretButton {
  position: absolute;
  z-index: -1;
}
