.App {
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  margin-right: 8px;
}

input {
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
}
